body {
    margin: 50px 200px;
    text-transform: uppercase;
}

h1 {
    color: blue;
}

.ite {
    float: left;
    position: relative;
    margin-right: 20px;
}

.item {
    float: left;
    position: relative;
}

p {
    font-weight: bold;
}

.items {
    float: left;
    position: relative;
    width: 100%;
}